.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #3d485c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Hero-section {
  background: rgb(22,19,92);
  background: linear-gradient(0deg, rgba(22,19,92,1) 0%, rgba(8,5,24,1) 100%);
  display: flex;
  width: 100%;
  color: azure;
}

button {
  font-size: calc(10px + 2vmin);
}

.Body {
  background-color: #61dafb;
  display: flex;
}

.Card {
  padding: 20px;
  margin: 10px;
  background-color: "gray";
  height: 300px;
  color: "yellow";
  display: "flex";
  width: 33%;
}